/* Styles globaux */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1a;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }
    pre.title {
        font-size: 5px;
    }

    p span {
        font-size: 0.9em;
    }
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Arrière-plan */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/image.png'); /* Assurez-vous que "image.png" est le bon chemin */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Opacité à 50% */
    z-index: -1; /* Envoyer l'image en arrière-plan */
}

/* Header et image du logo */
header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

header img {
    max-width: 200px;
    height: auto;
}

h1 {
    color: #00aaff;
    font-size: 1em;
    margin-top: 10px;
}
.inline-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    max-width: 1200px;
}

h2 {
    color: #ffaa00;
    margin-top: 40px;
}

p, ul {
    color: #d1d1d1;
    line-height: 1.6;
}

a {
    color: #00aaff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
}
